---
import SongPlayer from "../components/song-player";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nina Madison Music">
  <main class="xl:px-24 px-3 md:px-6">
    <h1 class="mt-16 xl:mt-32 text-4xl md:text-5xl xl:text-6xl">
      Nina Madison Music
    </h1>
    <SongPlayer client:only />
  </main>
</Layout>
